<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AbsContext" connectionString="data source=192.168.30.31;initial catalog=AbsCoreDevelopment;user id=sa;password=fkt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="Model1" connectionString="data source=192.168.30.31;initial catalog=AbsCoreDevelopment;user id=sa;password=fkt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /><add name="Model11" connectionString="data source=192.168.30.31;initial catalog=AbsCoreDevelopment;user id=sa;password=fkt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>