<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AbsContext" connectionString="data source=192.168.30.31;initial catalog=AbsCoreDevelopment;user id=sa;password=fkt;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SunDb" connectionString="data source=192.168.30.31;initial catalog=SUNDB;user id=Cheque;password=Bajisanibm26;MultipleActiveResultSets=True"  />
  </connectionStrings>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>VS2017Light</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>